wildfly-11.0.0.Final/standalone/data/wsdl/livraria.war/LivrariaWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.livraria.caelum.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="LivrariaWSService" targetNamespace="http://webservice.livraria.caelum.com.br/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.livraria.caelum.com.br/" elementFormDefault="unqualified" targetNamespace="http://webservice.livraria.caelum.com.br/" version="1.0">

  <xs:element name="getLivrosPeloNome" type="tns:getLivrosPeloNome"/>

  <xs:element name="getLivrosPeloNomeResponse" type="tns:getLivrosPeloNomeResponse"/>

  <xs:complexType name="getLivrosPeloNome">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLivrosPeloNomeResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="livros" type="tns:livro"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="livro">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="tns:autor"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="titulo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="autor">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getLivrosPeloNome">
    <wsdl:part element="tns:getLivrosPeloNome" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLivrosPeloNomeResponse">
    <wsdl:part element="tns:getLivrosPeloNomeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LivrariaWS">
    <wsdl:operation name="getLivrosPeloNome">
      <wsdl:input message="tns:getLivrosPeloNome" name="getLivrosPeloNome">
    </wsdl:input>
      <wsdl:output message="tns:getLivrosPeloNomeResponse" name="getLivrosPeloNomeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LivrariaWSServiceSoapBinding" type="tns:LivrariaWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getLivrosPeloNome">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLivrosPeloNome">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLivrosPeloNomeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LivrariaWSService">
    <wsdl:port binding="tns:LivrariaWSServiceSoapBinding" name="LivrariaWSPort">
      <soap:address location="http://localhost:8080/livraria/LivrariaWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>